# OS
.DS_Store

# Env files
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.envrc
.pytest_cache/
.mypy_cache/

# Django
*.sqlite3
staticfiles/

# Node
node_modules/
dist/
build/
.vite/

# Logs
*.log

# Docker
**/.docker/
